<footer id="footer">
    <div class="container">
        <a class="link" href="#">
            <svg class="icon" width="192" height="47">
                <use href="../images/sprite.svg#icon-portgroup-logo-1"></use>
            </svg>
        </a>
        <address class="address">
            <ul class="list">
                <li class="item">
                    <p class="sub-title">Location</p>
                </li>
                <li class="item">
                    <a class="link" href="https://goo.gl/maps/tRaWr1Zs3W7NqATg9" target="_blank"
                        rel="noopener noreferrer nofollow">Adress</a>
                </li>
                <li class="item">
                    <p class="item">Contact</p>
                </li>
                <li class="item">
                    <a class="link" href="mailto:mail@agensy.com">mail@agensy.com</a>
                </li>
                <li class="item">
                    <a class="link" href="tel:+12345677890">+1 234 567 78 90</a>
                </li>
            </ul>
        </address>
            <ul class="list">
                <li class="item">
                    <p class="title">Privacy Policy | Coockies Policy</p>
                </li>
                <li class="item">
                    <p class="title">All rights reserved Prot Group</p>
                </li>
                <li class="item">
                    <p class="title">website by Krock DS</p>
                </li>
            </ul>
    </div>
</footer>