<header class="header" id="header">
    <div class="header__container">
        <a href="../dist/index.html">
            <img src="./images/all_image/general-logo.png" alt="port-group">
        </a>
        <div class="header__menu">
            <nav class="header__nav">
                <ul class="header__list list">
                    <li class="header__item">
                        <a class="header__link" href="../dist/our_agency.html">About us</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="">Blog</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="">Services</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link" href="">Contact</a>
                    </li>
                </ul>
            </nav>
            <select class="header__select" id="lang" name="lang">
                <option value="Eng" selected>Eng</option>
                <option value="Deu">Deu</option>
                <option value="Spa">Spa</option>
                <option value="Ukr">Ukr</option>
            </select>
            
        </div>
        <button class="menu-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
            <img src="./images/all_image/burger-img.png" alt="menu" class="burger-btn__img">
        </button>
    </div>

    
</header>