
.main-section__list {
    position: fixed;
    left: -85px;
    top: 385px;

    transform: rotate(270deg);

    display: flex;
    gap: 30px;
    align-items: baseline;
}

.main-section__link-side {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;

    text-transform: uppercase;

    color: #3C467A;
}