// Resent

.resent__inner-box {
    border-bottom: 1px solid #000000;
}

.resent__title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;

    text-transform: uppercase;
    margin: 0;
    margin-bottom: 47px;

    color: #000000;
}

.resent__uppertext {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    margin: 0;
    margin-bottom: 15px;

    color: #A6A6A6;
}

.resent__subtext {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 57px;
    line-height: 74px;

    margin: 0;
    margin-bottom: 55px;
    width: 1093px;

    color: #000000;
}

.resent__mintext {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;

    margin: 0;
    margin-bottom: 73px;

    color: #000000;
}

.resent__list {
    display: flex;
    gap: 37px;

    padding-top: 47px;
    padding-bottom: 86px;
}

.resent__item {
    width: 372px;
}

.resent__signature {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    margin: 0;
    margin-bottom: 15px;

    color: #A6A6A6;
}

.resent__innertext {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;

    margin: 0;
    margin-bottom: 47px;

    color: #000000;
}

.resent__datetext {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;

    margin: 0;

    color: #000000;
}