@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

// Наши фонты
@font-face {
    font-family: "Mont";
    src: url("../../fonts/Mont-Bold.ttf");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Mont";
    src: url("../../fonts/Mont-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}



