html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	min-width: $base-min-width;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// adaptive images
/*img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}*/

// google map fix
.gm-style img {max-width: none}

// container
.container {
	width: 1440px;
	padding-right: 70px;
	padding-left: 70px;
	margin-right: auto;
	margin-left: auto;

	//phone screen

	@media screen and (max-width:479px) {
		width: 100%
	}

	@media screen and (min-width:480px) {
		width: 480px;
	}

	// for tablet
	@media screen and (min-width:768px) {
		width: 768px;
	}

	// for desktop
	@media screen and (min-width:1440px) {
		width: 1440px;
	}
}
  /*----reset-atart*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
  	margin: 0px;
  }

  .list {
  	list-style: none;
  	margin: 0px;
  	padding: 0px;
  }

  .link {
  	text-decoration: none;
  	padding: 0px;
  	margin: 0px;
  }

  img {
  	display: block;
  	max-width: 100%;
  	height: auto;
  	padding: 0px;
  }
